<app-navbar/>
<body>
    <div class="container">
        <div class="div-container">
            <h1>App Component</h1>
            <p>Esta pagina es demostrativa, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vitae officia provident, incidunt distinctio ad eveniet nostrum quidem, necessitatibus in praesentium optio, non quae facilis veritatis doloribus. Amet, tenetur ipsa.</p>
            <h2>Videos recomendados</h2>
        </div>
    </div>
    <div class="div-container-video">
        <app-video-list/>
    </div>
</body>
<!-- <router-outlet /> -->
